<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">Enter firstName: </label>
    <input type="text" th:field="*{username}" id="firstName"/>

    <br/>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>

    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br/>
    <input type=checkbox id=admin name=roleList value="ROLE_ADMIN">
    <label for="admin">Admin</label>

    <input type=checkbox id=user name=roleList value="ROLE_USER">
    <label for="user">User</label>

    <br/>
    <input type="submit" value="Update!"/>
</form>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>