<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table th, table td {
            padding: 5px;
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getId()}">Id</a></td>
        <td th:utext="${user.getUsername()}">firstname</td>
        <td th:utext="${user.getLastName()}">lastname</td>
        <td th:utext="${user.getAge()}">age</td>
        <td th:utext="${user.getEmail()}">email</td>
        <td th:utext="${user.getRoles()}">role</td>
    </tr>
</table>
<br>
<hr/>

<!--<a href="/people/new">Create new person</a>-->
<form th:method="GET" th:action="@{/admin/users/new}">
    <input type="submit" value="Create new user"/>
</form>
<br>
<button>
    <a th:href="@{/logout}">Logout</a>
</button>
</body>
</html>